<h2>Admin Dashboard</h2>

<a asp-controller="Car"
   asp-action="Create"
   class="btn btn-success">
    Upload New Car
</a>

<a asp-controller="Car"
   asp-action="Index"
   class="btn btn-primary">
    View Cars
</a>